.parent {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 13; }
.div2 { grid-area: 3 / 2 / 7 / 5; }
.div3 { grid-area: 10 / 6 / 13 / 8; }
.div4 { grid-area: 3 / 6 / 7 / 9; }
.div5 { grid-area: 8 / 2 / 12 / 5; }
.div6 { grid-area: 4 / 10 / 7 / 12; }
.div7 { grid-area: 7 / 10 / 11 / 13; }