

.touchtank-parent {
    min-height: 100vh;
    /* height: 700px;
    width: 90%; */
    position: relative;
    background-image: url("../data/TouchTankData/Touch Tank.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}


  .box {
    left: '15%';
    top: '70%';
    width: 250px;
    margin: 50px auto;
    background: #00bfb6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: absolute  ;
    border-radius: 25px
  }